<!DOCTYPE html>
<html>

<!-- <head>
    <link rel="stylesheet" type="text/css"
        href="RegistrationUser.css">
</head> -->

<body dir="rtl">
    <header>
        <div>
            <p class="title">ברוכים הבאים</p>
        </div>
    </header>
    <section>
        <form name="myForm">
            <div>
                <label>שם הגיבור</label>
                <input name="userName" [(ngModel)]="user.Id" type="text">
            </div>
            <div>
                <label>תעודת זהות</label>
                <input name="userId" [(ngModel)]="user.userId" type="text">
            </div>
            <div>
                <label>פלאפון</label>
                <input name="userName" [(ngModel)]="user.phone" type="text">
            </div>
            <div>
                <label>אימייל</label>
                <input name="userEmail" [(ngModel)]="user.email" type="text">
            </div>
            <div>
                <label>פרטי האפוטרופוסים</label>
                <table>
                    <tbody>
                        <tr *ngFor="let guardian of guardians">
                            <td>{{guardian.guardianName}}</td>
                            <td>{{guardian.PhoneNumber}}</td>
                        </tr>
                        <td (click)="changePhoneForGuardian()" [hidden]="isMoreThanOneGuardian">ערוך</td>
                    </tbody>
                </table>
            </div>
            <div>
                <label>שם אפוטרופוס</label>
                <input type="text" [(ngModel)]="guardian.guardianName" name="guardianName">
                <input type="button" (click)="addGuardian()" [disabled]="isLessThanThreeGuardian" value="+" style="box-shadow:teal">
            </div>
            <div>
                <label>פלאפון</label>
                <input type="text" [(ngModel)]="guardian.PhoneNumber" name="PhoneNumber"> 
            </div>
            <div>
                <input type="button" value="שלח סיסמא" (click)="sendPassword">
            </div>
            <div>
                <label>הכנס סיסמא</label>
                <input type="text" name="password">
            </div>
            <div>
                <input type="button" value="אישור" (click)="addUser()">
            </div>

        </form>
    </section>
    <footer></footer>

</body>

</html>